<h1 mat-dialog-title>Сервис-ID {{serv_id }}</h1>
<form mat-dialog-conten [formGroup]="data" (ngSubmit)="onSubmit(data)">

    <div mat-dialog-content>
        <mat-form-field>
            <input matInput placeholder="Имя поля" formControlName="fld_name" value="">
            <mat-error *ngIf="data.controls.deflect_to_max.invalid">Введите Имя поля
            </mat-error>

        </mat-form-field>
    </div>
    <div mat-dialog-content>
        <mat-form-field>
            <input matInput placeholder="Имя поля из источника" formControlName="source_fld_name" value="">
            <mat-error *ngIf="data.controls.deflect_to_max.invalid">Введите Имя поля из
                источника
            </mat-error>

        </mat-form-field>
    </div>
    <div mat-dialog-content>
        <mat-form-field appearance="fill">
            <mat-label>Тип поля</mat-label>
            <mat-select formControlName="fld_type">
                <mat-option value='number'>Число</mat-option>
                <mat-option value='string'>Строка</mat-option>
                <mat-option value='date'>Дата</mat-option>
                <mat-option value='array'>Массив</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div mat-dialog-content>
        <mat-form-field appearance="fill">
            <!--    <mat-checkbox formControlName="key_field">Ключевое поле</mat-checkbox>
                    <mat-label>Ключевое поле</mat-label>
                    <mat-radio-group formControlName="key_field">
                        <mat-radio-button value="1">Да</mat-radio-button>
                        <mat-radio-button value="0">Нет</mat-radio-button>
                    </mat-radio-group>-->
            <mat-label>Ключевое слово</mat-label>
            <mat-select formControlName="key_field">
                <mat-option value='1'>Да</mat-option>
                <mat-option value='0'>Нет</mat-option>

            </mat-select>
        </mat-form-field>
    </div>
    <div mat-dialog-content>
        <mat-form-field>
            <input matInput placeholder="Очерёдность поля" formControlName="fld_order" type="number">
            <mat-error *ngIf="data.controls.deflect_to_max.invalid">Введите Очерёдность поля
            </mat-error>

        </mat-form-field>
    </div>
    <div mat-dialog-content>
        <mat-form-field>
            <input matInput placeholder="Отклонение в меньшую сторону" formControlName="deflect_to_min" type="number">
            <mat-error *ngIf="data.controls.deflect_to_min.invalid">Введите Отклонение в меньшую
                сторону
            </mat-error>

        </mat-form-field>
    </div>
    <div mat-dialog-content>
        <mat-form-field appearance="fill">
            <mat-label>Отклонение в большую сторону</mat-label>
            <input matInput type="number" placeholder="Время жизни" formControlName="deflect_to_max">
            <mat-error *ngIf="data.controls.deflect_to_max.invalid">Введите Отклонение в большую сторону
            </mat-error>
        </mat-form-field>
    </div>

    <mat-error *ngIf="error" class="alert alert-danger">{{ error }}</mat-error>


    <mat-dialog-actions>
        <button mat-raised-button type="submit" color="primary">Сохранить</button>
        <button mat-raised-button type="button" color="accent" mat-dialog-close>Отмена</button>

    </mat-dialog-actions>
</form>